@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
}
blockquote {
    background: #8630a33d;
    border-left: 6px solid #8630a3;
    padding: 15px;
}
blockquote p {margin: 0}
[v-cloak] {display:none}

::selection {
    background: transparent;
    text-shadow: none;
}

::-webkit-scrollbar{width:5px;}
::-webkit-scrollbar-thumb{    
    border-width:1px 1px 1px 2px;    
    border-color: #777;    
    background-color: #999;    
    margin-left: -5px;
}
::-webkit-scrollbar-thumb:hover{    
    border-width: 1px 1px 1px 2px;    
    border-color: #555;    
    background-color: #777;
}
::-webkit-scrollbar-track{    
    border-width:0;
}
::-webkit-scrollbar-track:hover{    
    border-left: solid 1px #aaa;    
    background-color: #eee;
}

a.nav-link.active {
    text-decoration: 5px underline #8630a3;
    text-underline-offset: 22px;
}
.text {
    font-family: 'Jost', sans-serif; 
    font-weight: 400;
}
.shock-wive {
    text-decoration: 81px underline #ddcfde5e;
    text-decoration-style: wavy;
    display: inline-block;
}
.shock-wive-inline {
    text-decoration: 159px underline #ddcfde5e;
    text-decoration-style: wavy;
    display: block;
}
.swal2-styled.swal2-default-outline:focus {
    box-shadow: none !important;
}
.swal2-icon-content .material-symbols-outlined {
    font-size: 40px;
}
.ng::before {
    position: absolute;
    content: '';
    background-image: url(/img/free-png.ru-458.png);
    width: 550px;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -180px;
    left: -105px;
    opacity: 0.1;
}
.label {
    position: relative;
    background: #d3f7d1;
    color: #1ca113;
    display: inline;
    border-radius: 5px;
    padding: 2px 12px 2px 25px;
    line-height: 0px;
    font-family: 'Jost', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.label::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50em;
    background: #1ca113;
    left: 8px;
    top: 7px;
}

.label-danger {
    position: relative;
    background: #dc35452b;
    color: #dc3545;
    display: inline;
    border-radius: 5px;
    padding: 2px 12px 2px 25px;
    line-height: 0px;
    font-family: 'Jost', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.label-danger::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50em;
    background: #dc3545;
    left: 8px;
    top: 7px; 
}
.modal-open > .parent{
    filter: blur(4px);
}
.form-control:focus {
    border-color: #8630a3;
    outline: none;
    box-shadow: none;
}

.bg-hero {
    background: linear-gradient(
        196deg, 
        rgb(235 179 119) 0%, 
        rgb(255 255 255) 35%, 
        rgb(95 75 134 / 31%) 127%
    );
}
.text-primary {color: #8630a3 !important}
.btn-primary:hover {
    background-color: #000 !important;
    border-color: #000 !important
}
.btn-primary {
    border: 1px solid #8630a3;
    background-color: #8630a3;
}

.spin {
    animation: 1s linear 0s normal none infinite running load;
    -webkit-animation: 1s linear 0s normal none infinite running load;
}
@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }
    @-webkit-keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.progress {
    position: fixed;
    top: 0;
    z-index: 1500;
    width: 100%;
    height: 5px;
    background-color: #ddd;
    display: none;
}
#progressbar {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #ec0b29;
}
#searchForm .btn-close {
    color: #d3f7d1 !important;
}

/* Stars Raiting */
.rating-result {
	position: relative;
    bottom: -8px;
}
.rating-result span {
	padding: 0;
    font-size: 20px;
    margin: 0;
	line-height: 1;
	color: lightgrey;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: #f7d441;
}
.rating-area {
	overflow: hidden;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}


.searchForm {
    background-color: rgb(249, 224, 134);
    box-shadow: inset 0px -1px 5px #9191598c;
    width: 110px;
    cursor: text !important;
}
.cp {cursor: pointer;}

.card-data.order {
    width: 100%;
}
.card h5, .card-data h5 {
    font-family: 'Jost', sans-serif;
}
.card-data h5:hover {
    text-decoration: 3px underline #8630a3;
    cursor: pointer;
}
.card-data img {
    opacity: 0.6;
    height: 15em;
    width: 15rem;
    object-fit: cover;
    filter: saturate(300%);
}

.card img {
    opacity: 0.6;
    height: 15em;
    width: 100%;
    object-fit: cover;
    filter: saturate(300%);
}
.card-data:hover img {
    opacity: 0.9;
    cursor: pointer;
    filter: saturate(200%);
}
.catalog .card img {
    opacity: 0.6;
    height: 15em;
    width: 100%;
    object-fit: cover;
    filter: saturate(100%);
}
.catalog .card-data:hover img {
    opacity: 0.9;
    cursor: pointer;
    filter: saturate(100%);
}

.parent {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}
.blue {background-color: blue;}
.coral::after {
    position: absolute;
    content: '';
    background-color: #6495ed69;
    background-image: url(/img/abstract-polygonal.jpg);
    background-size: cover;
    width: 460px;
    height: 750px;
    top: 0;
    right: 0px;
    z-index: 2;
    opacity: 0.4;
}
.copyright {
    position: absolute;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 49%;
    left: -30px;
    color: #999;
}
.copyright::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid;
    width: 100px;
    margin-top: 14px;
    left: 187px;
    color: #cfcfcf;
}

.copyright::before {
    position: absolute;
    content: "";
    border-bottom: 1px solid;
    width: 100px;
    margin-top: 11px;
    right: 187px;
    color: #cfcfcf;
}
.spates::after {
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    background-color: #8630a3;
    filter: blur(5.5rem);
    border-radius: 50em;
    right: -30px;
    top: 76%;
    z-index: 0;
}
.spates::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50em;
    background-color: rgb(235 179 119);
    filter: blur(3.5rem);
}
.material {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: left;
    background: #edd8be;
}
/* img.material {
    opacity: .75;
} */
.consumables strong a:hover{
    text-decoration: 3px underline #8630a3 !important;
    cursor: pointer;
}
.card-title a:hover{
    text-decoration: 3px underline #8630a3 !important;
    cursor: pointer;
}
.card-title a,
.breadcrumb a {
    color: #000;
    text-decoration: none !important;
}
.breadcrumb a:hover{
    text-decoration: 3px underline #8630a3 !important;
    cursor: pointer;
}
.bg-primary {
    background-color: #8630a3 !important;
}
.feat::before {
    position: absolute;
    content: '.....';
    color: #f7dbbd;
    font-size: 36px;
    margin-top: 57px;
    margin-left: 5px;
    transform: rotate(90deg);
    letter-spacing: 3px;
    font-family: cursive;
}

.badge .legend-indicator {
    margin-right: 0.3125rem;
}
.bg-soft-success {
    background-color: rgba(0,201,167,.1)!important;
}
.bg-soft-info {
    background-color: rgba(9,165,190,.1)!important;
}
.bg-soft-dark {
    background-color: rgba(19,33,68,.1)!important;
}
.bg-soft-warning {
    background-color: rgba(245,202,153,.1)!important;
}
.bg-soft-danger {
    background-color: rgba(245, 107, 125, 0.1)!important;
}
.legend-indicator {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #bdc5d1;
    border-radius: 50%;
    margin-right: 0.4375rem;
}

footer, section {
    padding: 120px 0;
}
footer a {
    color: #ddd;
    text-decoration: none;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}
#search::placeholder {
    color: #8f8f8f;
    opacity: 1;
    font-size: 15px;
}
  
#search:-ms-input-placeholder {
   color: #8f8f8f;
   font-size: 15px;
}
  
#search::-ms-input-placeholder {
   color: #8f8f8f;
   font-size: 15px;
}
#search::selection {
    color: #fff;
    background-color: #8630a3;
}
.select::selection {
    color: #f9e086;
    background-color: #8630a3;
}
.active>.page-link, 
.page-link.active {
    color: #fff !important;
    background-color: #1b1b27;
}
.dropdown-item:active {
    background-color: #8630a3;
}
.dropdown-item:active span{
    color: #f9e293 !important;
}
.text-justify {
    text-align: justify;
}
.bar {
    width: 15%;
    padding-bottom: 4px;
    margin: 0 auto 25px;
    height: 2px;
    background: #8630a3;
    border: 0;
    opacity: 1;
}

@media screen and (max-width:767px) {
    h1 {
        font-size: 40px !important;
    }
    footer, section {
        padding: 70px 0;
    }
    .parent {
        display: block !important;
    }
    .spates::after {
        position: absolute;
        content: '';
        width: 100px;
        height: 100px;
        filter: blur(5.5rem);
        border-radius: 50em;
        right: 90px;
        top: 93%;
        z-index: 0;
    }
    .ng::before {
        width: 100%;
    }
    .card img {
        height: 20em;
    }
    nav ul li {
        padding: 10px;
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: none !important;
        box-shadow: none !important;
    }
    .brand img {
        width: 40% !important;
    }
}
@media screen and (min-width:768px) and (max-width:991px) {

}
@media screen and (min-width:992px) and (max-width:1199px) {

}
@media screen and (min-width: 1200px) {

}